/*-------------------------------------------*
/* Menu Icon
/*-------------------------------------------*/

#menu-icon {
    display: none;
    width: 25px;
	height: 19px;
	position: relative;
    -webkit-tap-highlight-color: transparent;
}

#menu-icon span {
    width: 25px;
    height: 3px;
    position: absolute;
    left: 0; 
    transition: 0.2s linear;
}

#menu-icon span:nth-child(1) {
    top: 0;
}

#menu-icon span:nth-child(2) {
    top: 8px;
}

#menu-icon span:nth-child(3) {
    bottom: 0;
}

#menu-close-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

#menu-close-icon span {
    width: 25px;
    height: 3px;
    position: absolute;
    left: 0; 
    top: 50%;
}

#menu-close-icon span:nth-child(1) {
    transform: rotate(-45deg);
}

#menu-close-icon span:nth-child(2) { 
    transform: rotate(45deg);
}

/*-------------------------------------------*
/* Mobile Panel
/*-------------------------------------------*/

#mobile-panel {
    position: fixed;
    z-index: 501;
    top: 0;
    right: 0;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    box-shadow: none;
    transform: translate3d(100%, 0, 0);  
    will-change: transform;
}

#mobile-panel.active {  
    transform: translateX(0);
}

#mobile-panel-header {
    margin: 0 0 15px 0;
    text-align: right;
}

#mobile-panel .block {
    margin: 0 0 15px 0;
}

#mobile-panel .button {      
    display: block;
    text-align: center;
}

/*-------------------------------------------*
/* Responsive Styles
/*-------------------------------------------*/

@media all and (min-width: 1400px) {
  #mobile-panel {
    width: 25%;
  }
}

@media all and (max-width: 1399px) {   
  #mobile-panel {
    width: 33%;
  }
}

@media all and (max-width: 991px) {
  #menu-icon {
    display: block;
  }

  #mobile-panel {
    width: 50%;
  }
}

@media all and (max-width: 767px) { 
  #mobile-panel {
    width: 100%;
  }
}







